<center><p style="font-size:40px">
    <br><br>
    <br><br>
    The study is finished! <u>Please turn down your volume to your regular level!</u> Thank you for participating.<br><br>

    Die Studie ist beendet! <u>Bitte reduzieren sie die Lautstaerke auf ihr normales Niveau.</u> Danke fuer ihre Teilnahme!
    </p></center>