/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);*/
/*@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:500&display=swap);

/* Container holding jsPsych content */

body {
  background-image: url(../images/group_logo.png),
                    url(../images/uni_logo.svg),
                    linear-gradient(rgb(186, 186, 186), rgb(160, 161, 164), rgb(186, 186, 186));

  background-repeat: no-repeat, no-repeat, repeat;
  background-position: 1% 1%, 99% 0.5%, bottom;
  background-size: 22% ,20%, 100%;
}


 .jspsych-display-element {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
 }

 .jspsych-display-element:focus {
   outline: none;
 }

 .jspsych-content-wrapper {
   display: flex;
   margin: auto;
   flex: 1 1 100%; /* used to be 100 */
   width: 100%; /* used to be 100 */
 }

 .jspsych-content {
   max-width: 75%; /* 95% this is responsible for the width of the content */
   background: rgba(238, 238, 238, 0.8);
   border-radius: 25px;
   padding: 0.5%;
   text-align: center;
   margin: auto; /* this is for overflowing content */
 }


 .jspsych-top {
   align-items: flex-start;
 }

 .jspsych-middle {
   align-items: center;
 }

/* fonts and type */

.jspsych-display-element {
  /*font-family: 'Open Sans', 'Arial', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.6em;
}

/* Form elements like input fields and buttons */

.jspsych-display-element input[type="text"] {
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Open Sans', 'Arial', sans-serif;*/
  font-size: 14px;
}

/* borrowing Bootstrap style for btn elements, but combining styles a bit */
.jspsych-btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px;
  font-size: 20px; /*14px*/
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.jspsych-btn:hover {
  background-color: #ddd;
  border-color: #aaa;
}

.jspsych-btn:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}

/* jsPsych progress bar */

#jspsych-progressbar-container {
  color: #555;
  border-bottom: 1px solid #dedede;
  background-color: #f9f9f9;
  margin-bottom: 1em;
  text-align: center;
  padding: 8px 0px;
  width: 100%;
  line-height: 1em;
}
#jspsych-progressbar-container span {
  font-size: 14px;
  padding-right: 14px;
}
#jspsych-progressbar-outer {
  background-color: #eee;
  width: 50%;
  margin: auto;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
#jspsych-progressbar-inner {
  background-color: #aaa;
  width: 0%;
  height: 100%;
}

/* Control appearance of jsPsych.data.displayData() */
#jspsych-data-display {
  text-align: left;
}
