<p style="text-align: left">
    Im ersten Teil der Studie werden wir Ihnen einige Fragen zu etwaigen Hörproblemen und besonderen Wahrnehmungserfahrungen stellen. Wir bitten sie die Fragen aufrichtig zu beantworten. <br>
    <u>Ihre Daten werden in Folge absolut anonym behandelt</u>.
    <br><br>
    Im zweiten Teil findet eine Höraufgabe statt. Dazu ist es wichtig, dass sie  <b>Kopfhörer</b> zur Hand haben und diesen Teil in ruhiger Umgebung durchführen.<br>
    Die Art der Kopfhörer (Over-Ear/In-Ear) spielt dabei keine Rolle. Weitere Angaben zu diesem Teil werden Ihnen zu Beginn des zweiten Abschnitts mitgeteilt.
<br><br>
    Klicken sie zunächst auf „Weiter“ um fortzufahren.
</p>