<p style="text-align: left">
    In the first part of the study we will ask you some questions regarding possible hearing problems and special perceptions . Please answer truthfully. <br>
    <u>Your data will be processed absolutely anonymous</u>.
    <br><br>
   In the second part of the study you will perform an auditory task. It is of great importance to wear <b>headphones</b> during this task and that you perform the task in a quiet environment.<br>
    It does not matter which type of headphones (Over-Ear/In-Ear) you use. You will get more information about this part of the study before the auditory task will start.
    <br><br>
    Please click "Next" to continue.
</p>