<p style="text-align: left">
    <strong><u>Auditory continuity illusion</u></strong><br>

    In the next task you should rate if you perceive a <u>pure tone as continuous or discontinuous.</u><br><br>

    <strong><u>How it works:</u></strong><br>
    On your monitor a fixation cross will appear. This fixation cross should just help you stay focused during the experiment.

    Meanwhile you will hear a sequence of tones and noises. During the first and last couple of presentations, the tone will be presented solitarily. Do only rate the middle part, when tone and noise are both presented.
    After each sequence you will be asked to <u>rate how continuous or discontinuous you perceived the tone sound, when the noise was presented</u>.<br><br>
    <u>Pleas only rate the pure tone and NOT the noise sound regarding the continuity.</u><br>
    You will have two choices for rating the sequence:<br>
</p>
    <p style="text-align: center ">
    1. Continuous <br>
    2. Discontinuous<br>
    </p><br>
<p style="text-align: left">
    After you rated one sequence the next sequence will start and you will again be hearing tone sounds and noise sounds.
    In total you will rate approximately 90 sequences. <u> This will take about 10 - 15 minutes. It might feel longer, but please keep going! :) </u><br><br>

    Please try to stay focused for the total duration of the experiment and try to rate the sequences as accurate as possible. If you are not certain, choose the option that fits best! This can happen a lot near the end.
    <br><br>

    All auditory stimuli are programmed in a way that their volume is limited. Therefore it is impossible for them to reach a harmful volume.
    If you still perceive the sequences as extremely uncomfortable or unbearable, please stop the experiment immediately and contact one of the following:     <br>
</p>
<p style="text-align: center ">
    Chandra Haider MSc: chandraleon.haider@sbg.ac.at<br>

</p><br>

<p style="text-align: left">
    If you click on "Next" you will first hear two test trials to get an idea of what the auditory continuity illusion should sound like.
    At first you will hear a sequence in which the tone sound will be continuous and after that you will hear a sequence in which the tone sound will be discontinuous.


</p>