<p style="text-align: center">
    Vielen Dank für die Teilnahme,<br><br>

    <strong> <u>Bitte drücken sie auf "Weiter", um die Studie zu beenden und die Ergebnisse zu speichern!</u></strong><br>
    <strong>Bitte reduzieren sie die Lautstärke auf ihr gewöhnliches Level und nehmen sie ihre Kopfhörer ab.</strong>


    <br><br></p>
<p style="text-align: center ">
    Für Fragen und Anmerkungen: <br>
    Chandra Haider MSc: chandraleon.haider@sbg.ac.at<br>
</p><br>

