<p style="text-align: left">
    Dear participant,<br><br>
    thank you for participating in our auditory perception study. <br>
    First we would kindly ask you to read the consent form carefully. <br><br>
    Please click "Next" to receive information about the study.
</p>