<p style="text-align: left">
    Well done! The first part of the study is now finished.<br>
    The second part of the study will start now. Please put on your <strong><u>headphones</u></strong> now and set the volume on your device on <strong><u>100%</u></strong>.<br>
    If your headphones have a separate volume control, set them to full volume.
    Please do <u>NOT</u> change the volume on your device during the whole experiment!<br>
    If your headphones have a function for active noise canceling please turn it off for the duration of the experiment.<br><br>

    At first, we will assess your individual hearing threshold. To do that, a tone will be presented at varying levels of volume. After each presentation, you have to indicate if you perceived a tone. <br>
    Afterwards, we will examine your individual level of uncomfortable volume to ensure that auditory stimuli that are presented during the experiment are presented in a comfortable volume for you.<br>
    We will therefore present you a noise sound over and over again. After each presentation you should indicate if the noise was set at a uncomfortable level of volume for you by answering the given question.<br><br><br>

    Click on "Next" to start the examination of your hearing threshold.
</p>