<p style="text-align: left">
    <strong><u>Auditorische Kontinuitätsillusion</u></strong><br>

    In der nächsten Aufgabe geht es darum zu beurteilen wie sehr sie einen <u>Piepston als durchgängig oder unterbrochen wahrnehmen.</u><br><br>

    <strong><u>So funktionierts:</u></strong><br>
    Auf dem Monitor vor Ihnen erscheint zunächst ein Kreuz. Dieses Kreuz soll es Ihnen erleichtern, sich zu konzentrieren.

    Währenddessen werden Sie eine Abfolge von Tönen und Rauschen hören. Am Anfang und Ende jedes Durchgangs wird ihnen der Ton alleine präsentiert. Bitte beurteilen sie nur den Mittelteil, wenn Ton und Rauschen gemeinsam präsentiert werden.
    Nach jedem Durchgang von Tönen und Rauschen sollen sie beurteilen wie sehr Sie <u>den Ton als durchgängig wahrgenommen haben, wenn das Rauschen präsentiert wurde.</u><br><br>
    <u>Bitte beurteilen Sie den Ton und NICHT das Rauschen bezüglich der Durchgängigkeit!</u><br>
    Zur Bewertung werden sie 2 Auswahlmöglichkeiten erhalten und zwar:<br>
</p>
    <p style="text-align: center ">
    1. Durchgängig <br>
    2. Unterbrochen<br>
    </p><br>
<p style="text-align: left">
    Nachdem Sie eine Abfolge bewertet haben, beginnt der nächste Durchlauf und Sie hören erneut Töne und Rauschen.
    Insgesamt werden Sie ca. 90 Durchgänge bewerten. <u> Dies wird ungefähr 15 Minuten in Anspruch nehmen. Auch wenn es sich länger anfühlt, halten sie durch! :) </u> <br> <br>

    Bitte versuchen Sie während des gesamten Experiments konzentriert zu bleiben und die Durchgängigkeit der Töne bestmöglich zu beurteilen.<u> Wenn sie sich bezüglich der Antwort nicht sicher sind, <br>
    wählen sie die Antwort, die am Besten passt!</u> Dies kann besonders gegen Ende häufig vorkommen.
    <br><br>

    Alle Töne sowie die Rausch-Sequenzen sind so konzipiert, dass deren Lautstärke begrenzt wird wodurch eine Schädigung des Gehörs ausgeschlossen ist.
    Sollten sie die Tonabfolgen jedoch trotzdem als extrem unangenehm oder unerträglich wahrnehmen, bitten wir sie das Experiment sofort abzubrechen und sich bei der Studienleitung unter folgender Adresse zu melden: <br>
</p>
<p style="text-align: center ">
    Chandra Haider MSc: chandraleon.haider@sbg.ac.at<br>
</p><br>

<p style="text-align: left">
    Wenn sie auf "Weiter" klicken erhalten sie nun zuerst zwei Übungsaufgaben, um sich ein Bild einer auditorischen Kontinuitätsillusion machen zu können.
    Zuerst werden sie einen durchgängigen Durchgang hören und danach einen Durchgang mit unterbrochenen Tönen.


</p>