<p style="text-align: left">
    Gut gemacht! Der erste Studienabschnitt ist nun beendet.<br>
    Nun beginnt der zweite Teil der Studie. Wir bitten sie darum nun ihre <STRONG><u>Kopfhörer</u></STRONG> aufzusetzen und die Lautstärke auf ihrem Abspielgerät auf die <strong><u>maximale Stufe</u></strong> einzustellen.<br>
    Sollten ihre Kopfhörer ebenfalls über einen Lautstärkeregler verfügen, bitten wir sie diesen ebenfalls auf die maximale Stufe einzustellen.
    Wir bitten sie die Lautstärke im Laufe des Experiments <u>nicht</u> mehr zu verändern. <br>
    Sollten ihre Kopfhörer die Funktion zur aktiven Geräuschunterdrückung (Noise Cancelling) ermöglichen, bitten wir Sie diese Funktion für die Dauer des Experiments auszuschalten.<br><br>

    Zuerst werden wir ihre Hörschwelle ermitteln. Dabei wird ihnen ein Ton in unterschiedlicher Lautstärke vorgespielt, um sich iher Hörschwelle anzunähern. Dabei müssen sie bei jeder Präsentation eines Tones angeben,
    ob sie den Ton wahrgenommen haben oder nicht.<br>
    Danach werden wir nun die Unbehaglichkeitsgrenze der Lautstärke ermitteln um sicherzugehen, dass die im Experiment präsentierten Töne nicht in einer für Sie unangenehmen Lautstärke präsentiert werden.<br>
    Dazu werden wir ihnen immer wieder Rausch-Geräusche präsentieren. Sie sollen nach jedem Rauschen beurteilen ob, dieser eine für Sie unangenehme Lautstärke hatte.<br><br><br>




    Klicken sie auf "Weiter", um mit der Hörschwellenbestimmung zu beginnen.
</p>