<p style="text-align: left">
    Liebe/r Teilnehmer/in,<br><br>

    vielen Dank, dass Sie sich bereit erklärt habt, bei unserer Studie zur Hörwahrnehmung teilzunehmen.<br>
    Zunächst möchten wir Sie darum bitten, die folgende Einverständniserklärung aufmerksam zu lesen.
    <br><br>
    Klicken sie zunächst auf „Weiter“, um zur Aufklärung über die Studie zu gelangen.
</p>