<p style="text-align: center">

    Thank you very much for participating in our experiment,<br><br>
    <u><strong> Please press "Next" to finish the study and save the results!</strong></u> <br>
    <strong> Please reduce the volume to your regular level and remove your headphones!</strong>
    <br><br></p>
<p style="text-align: center ">
    For any questions and comments: <br>
    Chandra Haider MSc: chandraleon.haider@sbg.ac.at<br>
</p><br>