<div style="text-align: left">
    <p>Ich habe die Informationen zur Studie gelesen und vollumfänglich verstanden.
        Meine Teilnahme erfolgt freiwillig und ich weiß, dass ich mich jederzeit, auch ohne Angabe
        von Gründen, von der Studie zurückziehen kann, ohne dass mir daraus
        Nachteile irgendwelcher Art entstehen. Ich stimme der Verarbeitung der für diese
        Studie erhobenen Daten zu und bin bereit, an der Studie teilzunehmen.
        Sie können die VersuchsteilnehmerInneninformationen
        zu dieser Studie <a href="./Einverständniserklärung_ACI_DE.pdf" download>hier</a> als pdf herunterladen
        <br>

    </p>
    <label style="font-size: 18px" for="consent"><b> Ich bestätige, dass ich alle Informationen zur Studie zur Kenntnis genommen habe</b></label>
    <input type="checkbox" name="consent" value="legit" required><br><br>
</div>
