
<div style="text-align: left">
    <p>I have read the information regarding the study carefully and fully understood them.
        My participation in this study is voluntary and I know I can cancel the study at any point without
        declaring any reasons and without any drawbacks resulting for me. I agree in the processing of the data collected during the experiment
        and am willing to participate in the study. You can download the informed consent as a PDF document  <a href="./Einverständniserklärung_ACI_EN.pdf" download>here.</a>
        <br>

    </p>
    <label style="font-size: 18px" for="consent"><b> I confirm that i have registered all information regarding the study </b></label>
    <input type="checkbox" name="consent" value="legit" required><br><br>
</div>
